/* 폰트 설정 */

@font-face {
    font-family: 'BRRA_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRRA_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 설정 */

body {
    text-align: center;
    font-family: 'BRRA_R', serif;
    font-size: 125%;
}

input {
    font-family: 'BRRA_R', serif;
    font-size: 150%;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border-color: pink;
}

#startPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

#endPage{
    margin-top: 3%;
}

#gameIceCreamImage {
    text-align: center;
}

.name{
    display: inline;
    margin-left: 5%;
    margin-right: 4%;
}

#name > li {
    display: inline-block;
    position: relative;
}

#name > li > a {
    display:block;
    position:relative;
    padding-bottom:20px;
    margin: 10px;
}

#name > li > a > h2 {
    position:absolute;
    bottom:0;
    left:50%;
    color:black;
    line-height:0em;
    white-space:nowrap;
    transform:translate(-60%, 0)
}

#endPage{
    margin-top: 3%;
}

/* 아이콘 */

.exitIcon {
    margin-top: -5%;
    margin-left: 90%;
    transition: all 0.25s;
}

.exitIcon:hover {
    transform: scale(1.2);
}

.exitIcon:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

/* 버튼 */

button {
    font-family: 'BRRA_R', serif;
    font-size: 30px;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: rgb(255, 208, 215);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border: none;
    margin-bottom: 30px;
    transition: all 0.25s;

}

button:hover {
    transform: scale(1.2);
}

button:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

/* 게임 */

.numberContainer{
    margin-top: 0.1%;
    margin-left: 32.5%;
    width: 36%;
    height: 100px;
    font-size: 30px;
    font-family: 'BRRA_R', serif;
}

input[type=radio]{
    width: 0;
    height: 0;
    position: absolute
}

input[type=radio] + label{
    padding: .75em 1.3em;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: 3px solid gray;
    border-style: dotted;
    background-color: #FFF;
    line-height: 140%;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
    cursor: pointer;
}

input[type=radio]:checked + label{
    background-color: pink;
    color: #FFF;
    z-index: 1;
}

#gamePage{
    margin-left: 2%;
}

/* 푸터 */

footer {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
