<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="31Game.css">
    <title>31Game-ready</title>
</head>


<body>

    <div class="exitIcon" onclick="javascript:location.href='/'">
        <h2>나가기
            <img src="image/icon/logout.png" width="40">
        </h2>
        <br>
    </div>

    <div id="readyIceCreamImage">
        <ul id="name">
            <li>
                <a href="#">
                    <img src="image/iceCream/almondBonbon.png" width="200">
                    <h2 id="name1" class="name">대기중...</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="image/iceCream/mintChoco.png" width="200">
                    <h2 id="name2" class="name">대기중...</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="image/iceCream/momIsAlien.png" width="200">
                    <h2 id="name3" class="name">대기중...</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="image/iceCream/newYorkCheese.png" width="200">
                    <h2 id="name4" class="name">대기중...</h2>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="image/iceCream/shootingStar.png" width="200">
                    <h2 id="name5" class="name">대기중...</h2>
                </a>
            </li>
        </ul>

        <br>
    </div>

    <div id="readyPage">
        <p>당신의 이름은 <%= username %> 입니다.</p>
        <p>5명이 모두 들어오면 시작할 수 있습니다.</p>
        <form action="/game" method="get">
            <input type="text" name="username" style="display: none;" value="<%= username %>">
            <button type="submit" id="submit" disabled>시작하기</button>
        </form>
    </div>
</body>
<footer>
    KAU 2022-1 김서현, 신재우, 장예빈, 정수현, 철멍어드
</footer>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const username = new URLSearchParams(location.search).get('username');

    // 대기실 입장 시 서버에 유저 이름 알림
    socket.emit('userInReady', { username: username });

    // 새로운 유저 입장
    socket.on('usersInServer', users => {
        // 이 유저가 서버의 유저 목록 안에 있는지 확인
        const isValid = users.find(user => username === user.name)
        
        // 유저 5명 접속 시 버튼 활성화
        if (users.length === 5 && isValid) {
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('submit').disabled = true;
        }
        
        // 유저 접속 시 갱신
        for (let i=0; i<5; i++) {
            if (users[i] && users[i].inGame) {
                document.getElementsByClassName('name')[i].innerHTML = users[i].name + '(게임중)';
            } else if (users[i] && users[i].name) {
                document.getElementsByClassName('name')[i].innerHTML = users[i].name;
            } else {
                document.getElementsByClassName('name')[i].innerHTML = '대기중...';
            }
        }
    });
</script>